* {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: ghostwhite;
}

body {
	background-image: url(../Fondos/space.jpg);
	background-attachment: fixed;
}

.contenedor {
	width: 100%;
	box-sizing: border-box;
}

.home {
	height: auto;
}

.home2 {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 25px;
	text-align: center;
}

.h1-box {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h1 {
	padding: 9px;
	background-color: rgba(120, 120, 150, 0.8);
	display: inline-block;
	border-radius: 10px;
	font-size: 40px;
	height: 75px;
	width: 350px;
	margin: 20px;
	border: 2px solid black;
	box-sizing: border-box;
}

.Caja-expandible {
	padding: 5px;
	background: #555;
	border: 2px solid #000;
	display: inline-block;
	margin-bottom: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.expandible-li {
	display: inline-block;
	margin: 5px 15px;
	color: whitesmoke;
}

.a-prueba {
	text-decoration: none;
	display: inline;
	color: lightblue;
}

.a-prueba:visited {
	color: whitesmoke;
}

.a-prueba:hover {
	color: #BBF5FF;
}

.icons {
	padding-right: 7px;
}

.extra {
	padding: 7px;
	background-color: rgba(248, 228, 177, 0.4);
	display: inline-block;
	border-radius: 5px;
	color: black;
	position: absolute;
	top: 0;
	right: 0;
}

.extra p {
	position: relative;
	bottom: 7px;
}

.extra b strong {
	text-decoration: underline;
	color: black;
	font-weight: bolder;
	font-size: 25px;
}

.extra p strong {
	color: black;
	font-weight: 900;
}

.extra:hover {
	transition: background-color 0.3s;
	background-color: rgba(248, 228, 177, 0.9);
}

.prueba {
	background-color: #000;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
	position: relative;
	left: 0;
	text-align: center;
}

.prueba-texto {
	color: #fff;
	display: inline;
}

footer {
	text-align: center;
	padding: 3px;
	background-color: DarkSalmon;
	color: white;
	display: inline-block;
	border-radius: 5px;
	margin-left: 0;
}

.ico-h1 {
	width: 70px;
	height: 70px;
	position: relative;
	top: 0;
	left: 0;
}

.ico-h1-2 {
	width: 70px;
	height: 70px;
	position: relative;
	top: 0;
	right: 0;
}

audio {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: lightskyblue;
	border-radius: 15px;
	opacity: 0.4;
}

audio:hover {
	opacity: 1;
	transition: all 0.8s;
}

.discord-ico {
	height: 40px;
	width: 40px;
	position: relative;
	top: 11px;
}

.texto-principal {
	background-color: rgba(40, 40, 40, 0.8);
	padding-left: 5px;
	margin-top: 5px;
	border-radius: 10px;
}

.texto-principal:active {
	opacity: 0;
}

#referido-dazer {
	visibility: visible;
	text-shadow: 0 0 5px black;
}

#h2-text {
	text-shadow: 0 0 5px black;
	margin-bottom: 5px;
	text-align: center;
}

.home3 {
	width: 100%;
	display: flex;
	justify-content: center;
}

#tgwImage {
	width: 200px;
	height: 200px;
	margin-left: 0;
}

#photo-container {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
}

#photo-banner {
	width: 205px;
	height: 150px;
	position: relative;
	right: 0;
	bottom: 0;
	opacity: 1;
}

.home4 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 640px) {

	.Caja-expandible {
		display: block;
		margin-bottom: 30px;
	}

	.texto-principal {
		margin: 0 15px;
	}

	.extra {
		height: 55px;
		width: 83px;
		padding: 8px;
		background-color: rgba(248, 228, 177, 0.4);
		border-radius: 35px;
		color: black;
		position: absolute;
		top: 112px;
		right: 3px;
	}

	.extra b {
		display: none;
	}

	.extra p {
		font-size: x-small;
		margin-top: -22px;
		margin-left: -1px;
	}

	.discord-ico {
		height: 30px;
		width: 30px;
		position: relative;
		top: 0;
		right: -22px;
	}

	.home2 {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 25px;
		text-align: center;
	}

	.h1-box {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ico-h1 {
		width: 50px;
		height: 50px;
		position: relative;
		top: 0;
		left: 0;
	}

	.ico-h1-2 {
		width: 50px;
		height: 50px;
		position: relative;
		top: 0;
		right: 0;
	}

	.h1 {
		padding: 9px;
		background-color: rgba(120, 120, 150, 0.8);
		display: inline-block;
		border-radius: 10px;
		font-size: 25px;
		height: 75px;
		width: 350px;
		margin: 20px;
		border: 2px solid black;
		box-sizing: border-box;
	}

	.home3 {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	#tgwImage {
		width: 100px;
		height: 100px;
		margin-left: 0;
	}

	.home4 {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.prueba {
		background-color: #000;
		display: inline-block;
		padding: 5px;
		border-radius: 10px;
		left: 0;
		margin: 0 10% 10px;
		width: 80%;
		text-align: center;
	}

	.prueba-texto {
		color: #fff;
		margin-left: 0;
	}

	footer {
		width: 100%;
		text-align: center;
		padding: 3px;
		background-color: DarkSalmon;
		color: white;
		display: inline-block;
		border-radius: 5px;
		margin-left: 0;
	}

	audio {
		position: fixed;
		top: 34%;
		right: 0;
		width: 200px;
		height: 25px;
		background-color: lightskyblue;
		border-radius: 15px;
		opacity: 0.5;
	}

	body {
		background-size: 100% 100%;
	}
}
