*{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: #DDD;
}

body { 
	background-image: url(../historias/fondo.gif);
	background-size: 100% 100%;
	background-attachment: fixed;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

body > * {
  width: 100%;
  border: 1px solid #000;
  border-bottom-width: 0;
  box-sizing: border-box;
  text-align: center;
  background: rgba(192, 249, 255, 0.1);
}

body > *:last-child {
  border-bottom-width: 1px;
}
.contenedor{
	width: 100%;
}
header,
footer {
  min-height: 100px;
}
header {
	margin-top: 5px;
}
#Caja-expandible {
	width: 100%;
	padding: 5px;
	background: #555;
	/*border: 3px solid #000;*/
	display: inline-block;
	/*margin-bottom: 20px;*/
	border: 5px solid slategray;
	/*border-top-right-radius: 5px solid lightblue;
	border-bottom-right-radius: 5px solid lightblue;
	border-bottom: 3px solid #000;
	border-right: 3px solid #000 ;*/
	position: relative;
	z-index: 100;
}
.icons {
	padding-right: 7px;
}

.expandible-li {
	display: inline-block;
	margin: 5px 15px;
	color: whitesmoke;
}
.a-prueba {

	text-decoration: none;
	display: inline;
	

}

.a-prueba:visited {
	color: whitesmoke;
}
.a-prueba:hover {
	color: #BAF5FB;
}

.h2-titulo {
	display: inline-block;
	font-size: 35px;
}

/*.img-titulo {
	width: 30px;
	height: 30px;
}*/



aside {
  width: 25%;
  border: 0 solid #000;
  border-left-width: 1px;
  background: rgba(50, 50, 50, 0.1);
 
}

.texto-fondo {

	position: relative;
	left: 0;
	bottom: 0;
	margin-left: 5px;
	margin-bottom: 4px;

	
}

.container .body {
  width: 75%;
  /*background-color: red;*/
}

.container {
  display: flex;
  min-height: 300px;
}

footer {
	background: rgba(192, 249, 255, 0.1);
}







li a:visited {
	color: #dda;
}
li a:hover {
	color: #99e;
}

.texto-fondo a:hover {
	color: goldenrod;
}



.ul-fondo {
	background: rgba(192, 249, 255, 0.1);
	text-align: left;
	/*font-size: 40px;*/
}
.ul-fondo li {
	margin-left: 35px;
}

header {
	visibility: visible;
	/*background: rgba(192, 249, 255, 1);*/
	/*display: inline;*/
}

@media screen and (max-width: 640px) {
	.home {
		width: 100%;
		margin: auto;
		
		
	}
	#Caja-expandible{
		border-top: 3px solid slategray;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.home .expandible-li{ 
		display: inline-block;
		margin: 5px 5px;
		color: whitesmoke;
		
	}
	.home a{
		font-size: 20px;
	}
	#Titulo{
		font-size: 45px;
		text-shadow: 3px #99e;
	}
	.h2-titulo {
		display: inline-block;
		font-size: 20px;
	}
	header{
		margin-top: 0;
	}
	.container{
		margin-top: 7px;
		width: 100%;
		/*background-color: red;*/
		justify-content: center;
	}
	.body p{
		font-size: 25px;
	}
	.ul-fondo{
		display: none;
	}
	.ul-fondo li{
		display: none;
	}
	aside{
		display: none;
	}
	.home3{
		margin-top: 10px;
	}
	.home3 p{
		font-size: 20px;
	}
	.home3 a{
		font-size: 20px;
	}
}
