*{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: whitesmoke;
}
body {
	background-image: url(discord.png);
	background-size: cover;
	background-attachment: fixed;
}
/*Inicio*/
.contenedor{
	width: 100%;
}
.home{
	width: 100%;
}
.Caja-expandible {
	padding: 5px;
	background: #555;
	/*border: 3px solid #000;*/
	display: inline-block;
	/*margin-bottom: 20px;*/
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 3px solid #000;
	border-right: 3px solid #000 ;
}
.icons {
	padding-right: 7px;
}
.expandible-li {
	display: inline-block;
	margin: 5px 15px;
	color: whitesmoke;
}
.a-prueba {
	text-decoration: none;
	display: inline;
}

.a-prueba:visited {
	color: whitesmoke;
}
.a-prueba:hover {
	color: #BAF5FB;
}

.h1 {
	font-size: 60px;
	text-shadow: 0 0 20px rgb(95, 35, 206);
}

.caja-integrantes {
	position: relative;
	/*bottom: 35px;*/
	/*width: 200px;
	height: 200px;
	background-color: #444;
	border-radius: 7px;
	border-top: 4px solid #111;
	border-right: 4px solid #222;
	border-bottom: 4px solid #222;*/
}

.ul-li-nombres {
	font-size: 30px;
	display: inline-block;
	position: relative;
	top: 5px;
	padding: 5px 10px;
}

.texto-fondo {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 5px;
	/*margin-bottom: 4px;*/
}

.link-fondo {
	color: #b4b;
}

.link-fondo-texto {
	display: inline;
	color: lightblue;
}


.discord-icons {

	position: relative;
	top: 12px;
	height: 30px;
	width: 30px;
}
.youtube-icons {
	position: relative;
	top: 12px;
	height: 30px;
	width: 40px;
}
@media screen and (max-width: 640px) {
	.home{
		width: 100%;
		background-color: red;
		box-sizing: border-box;
		/*margin: auto auto;*/
	}
	.Caja-expandible {
		padding: 5px;
		background: #555;
		border: 5px solid #000;
		/*border-top: none;*/
		display: block;
		margin-bottom: 0px;
		border-radius: 3px black;
		display: flex;
		margin-bottom: -10px;
	}
	/*.Caja-expandible i{
		flex-direction: row;
		flex-wrap: wrap;
	}*/
	.expandible-li {
		display: inline-block;
		color: whitesmoke;
		margin: 5px 10px;
	}
	.h1 {
		font-size: 35px;
		text-shadow: 0 0 20px rgb(95, 35, 206);
		margin-bottom: -5px;
	}
	body {
		background-image: url(discord.png);
		background-size: cover;
		background-position: center;
		/*background-attachment: fixed;*/
	}
}
@media screen and (max-width: 340px) {
	/*.home2 {
		display: flex;
		height: 100%;
	}
	.ul-li-nombres {
		font-size: 20px;
		display: inline-block;
		position: relative;
		top: 5px;
		padding: 5px 10px;
	}
	.discord-icons {

		position: relative;
		top: 10px;
		height: 20px;
		width: 20px;
	}
	.youtube-icons {
		position: relative;
		top: 10px;
		height: 20px;
		width: 30px;
	}*/
	.h1 {
		font-size: 40px;
	}
	.ul-li-nombres{
		font-size: 30px;
	}
	.home3 {
		visibility: visible;
	}
	.texto-fondo p{
		/*position: absolute;
		left: 0;
		bottom: 0;*/
		font-size: 19px;
		/*margin-left: 5px;
		margin-bottom: 4px;*/
	}
	.texto-fondo a{
		font-size: 18px;
	}
	.texto-fondo .link-fondo-texto{
		font-size: 15px;
	}
}
@media screen and (max-width: 320px) {
	/*.home2 {
		display: flex;
		height: 100%;
	}
	.ul-li-nombres {
		font-size: 20px;
		display: inline-block;
		position: relative;
		top: 5px;
		padding: 5px 10px;
	}
	.discord-icons {

		position: relative;
		top: 10px;
		height: 20px;
		width: 20px;
	}
	.youtube-icons {
		position: relative;
		top: 10px;
		height: 20px;
		width: 30px;
	}*/
	.ul-li-nombres{
		font-size: 28px;
	}
	.home3 {
		visibility: visible;
	}
	.texto-fondo p{
		/*position: absolute;
		left: 0;
		bottom: 0;*/
		font-size: 18px;
		/*margin-left: 5px;
		margin-bottom: 4px;*/
	}
	.texto-fondo a{
		font-size: 18px;
	}
	.texto-fondo .link-fondo-texto{
		font-size: 15px;
	}
}
@media screen and (max-width: 290px) {
	.home2 {
		/*background-color: red;*/
		display: flex;
		height: 100%;
	}
	.ul-li-nombres {
		font-size: 20px;
		display: inline-block;
		position: relative;
		top: 5px;
		padding: 5px 10px;
	}
	.discord-icons {

		position: relative;
		top: 10px;
		height: 20px;
		width: 20px;
	}
	.youtube-icons {
		position: relative;
		top: 10px;
		height: 20px;
		width: 30px;
	}
	.home3 {
		visibility: visible;
	}
	.texto-fondo p{
		/*position: absolute;
		left: 0;
		bottom: 0;*/
		font-size: 18px;
		/*margin-left: 5px;
		margin-bottom: 4px;*/
	}
	.texto-fondo a{
		font-size: 18px;
	}
	.texto-fondo .link-fondo-texto{
		font-size: 15px;
	}
}
@media screen and (max-width: 240px) {
	.h1{
		font-size: 30px;
		
	}
	.home2 {
		/*background-color: red;*/
		display: flex;
		height: 100%;
	}
	.ul-li-nombres {
		margin-top: 5px;
		font-size: 20px;
		display: inline-block;
		position: relative;
		top: 5px;
		padding: 5px 10px;
	}
	.discord-icons {

		position: relative;
		top: 10px;
		height: 20px;
		width: 20px;
	}
	.youtube-icons {
		position: relative;
		top: 10px;
		height: 20px;
		width: 30px;
	}
	.home3 {
		visibility: visible;
	}
	.texto-fondo p{
		/*position: absolute;
		left: 0;
		bottom: 0;*/
		font-size: 18px;
		/*margin-left: 5px;
		margin-bottom: 4px;*/
	}
	.texto-fondo a{
		font-size: 18px;
	}
	.texto-fondo .link-fondo-texto{
		font-size: 15px;
	}
}
















/*audio { 
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: lightskyblue;
	
	border-radius: 15px;
	opacity: 0.1;
}
audio:hover {
	opacity: 1;
}*/
