body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body > * {
  width: 100%;
  border: 1px solid #000;
  border-bottom-width: 0;
  box-sizing: border-box;
  text-align: center;
}

body > *:last-child {
  border-bottom-width: 1px;
}

header,
footer {
  min-height: 100px;
}

aside {
  width: 25%;
  border: 0 solid #000;
  border-left-width: 1px;
  background-color: lightblue;
}

.container .body {
  width: 75%;
}

.container {
  display: flex;
  min-height: 300px;
}

.ul-fondo {
  background-color: red;
  /*padding-top: 5px;*/
  /*display: inline-block;*/
  text-align: left;
  /*align-content: center;*/
  /*justify-content: center;*/
}

